/* Global */
html,body{
    font-family: 'Roboto Condensed', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Đè code thư viện bootstrap */
/* Lấy id của thẻ muốn edit vì id độ ưu tiên lớn dễ đè code */
/* Nếu ko có id thì gọi thẳng đến thẻ cha gần nhất của nó để edit */
#movieNavbar .navbar-nav{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

#movieNavbar .navbar-nav .nav-item::after{
    /* Before và after buộc phải có content */
    content: "";
    width: 0;
    height: 3px;
    /* before và after là thẻ inline -> chuyển sang thẻ block */
    display: block;
    /* Tạo màu trải từ vùng này sang vùng khác */
    /* 1: Hướng trải màu (trái -> phải: to right/bottom/...), 2: Màu bắt đầu, 3: Màu kết thúc*/
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 0.5s;
}

#movieNavbar .navbar-nav .nav-item.active::after{
    content: "";
    width: 100%;
}

#movieNavbar .navbar-nav .nav-item:hover::after{
    width: 100%;
}

#movieNavbar .navbar-nav .nav-link{
    padding: 20px 24px;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: .8em;
}
/* Carousel */
#MovieCarousel .carousel-item .carousel-caption{
    text-align: left;
    /* Kết hợp căn giữa + position */
    top: 50%;
    left: 50%;
    /* Thuộc tính CSS3 */
    transform: translate(-50%,-50%);
}

#MovieCarousel .carousel-indicators li{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 3px solid white;
    /* Màu nền trong suốt áp dụng luôn cho màu chữ*/
    background-color: transparent; 
    opacity: 1;
    margin-bottom: 70px;
}

#MovieCarousel .carousel-indicators li.active{
    background-color: white;
    /* Độ phủ toàn nội dung trừ border */
    background-clip: border-box;
}

#MovieCarousel .carousel-indicators{
    /* flex-start = left */
    justify-content: flex-start;

    left: 50%;
    transform: translateX(-50%);
    /* Boot tự thêm vào code nên xóa nó đi */
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

#MovieCarousel .carousel-caption h6{
    color: #fbbd61;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 62px;
}

#MovieCarousel .carousel-caption h2{
    font-size: 52px;
    border: none;
    font-weight: 300;
}

#MovieCarousel .carousel-caption p{
    margin: 0 0 20px;
    font-size: 18px;
    width: 70%;
    margin-bottom: 30px;
}

#MovieCarousel .carousel-item .carousel__trailer span{
    padding: 15px;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    border: 2px solid white;
}

#MovieCarousel .carousel-item .carousel__trailer button{
    color: white;
    background: linear-gradient(to right, #fbbd61,#ec7532);
    width: 230px;
    height: 50px;
    border-radius: 50px;
    border: none;
    letter-spacing: 3px;
}

#MovieCarousel .carousel-item .carousel__trailer button a{
    text-decoration: none;
    color: white;
}

#MovieCarousel .carousel-item .carousel__trailer button i{
    margin-right: 8px;
}

.carousel__img button{
    position: relative;
    overflow: hidden;
}

.carousel__overplay{
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(236, 117, 50, 0.7);
    transform: skewX(30deg) translateX(-150%);
    transition: all .7s;
}

.carousel__trailer button:hover .carousel__overplay{
    transform: skewX(30deg) translateX(-25%);
}

.carousel__trailer button:focus{
    box-shadow: none;
    outline: none;
}

/* New in */
.newIn__overplay{
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    /* Dùng màu chuyển */
    background-image: linear-gradient(to bottom, #fbbd61, #ec7532);
    /* Bẻ 1 góc theo đơn vị độ*/
    /* transform: skewX(30deg) translateX(-25%); */
    /* Đẩy màu ra khỏi vùng thẻ cha để hover */
    transform: skewX(30deg) translateX(-150%);
    transition: all 0.5s;
    opacity: 0.6;

}

.newIn__img{
    position: relative;
    /* Ẩn những thứ bên ngoài thẻ cha đi */
    overflow: hidden;
} 
/* skews của transform chỉnh độ nghiêng */
.newIn__img:hover .newIn__overplay{
    transform: skewX(30deg) translateX(-25%); 
}

.newIn__play i{
    position: absolute;
    top: 20%;
    left: 35%;
    text-align: center;
    line-height: 80px;
    color: white;
    width: 80px;
    height: 80px;
    padding-left: 5px;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    transition: all .3s;
}

.newIn__play .newIn__infor{
    position: absolute;
    letter-spacing: 3px;
    top: 170px;
    left: 75px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: all .3s;
}

.newIn__play p{
    position: absolute;
    top: 210px;
    left: 40px;
    color: white;
    opacity: 0;
    transition: all .3s;
}

.newIn__img:hover .newIn__play i{
    opacity: 1;
}

.newIn__img:hover .newIn__play .newIn__infor{
    opacity: 1;
}

.newIn__img:hover .newIn__play p{
    opacity: 1;
}

.newIn__play .fa-play:hover{
    border-color: #da633a;
    color: #da633a;
}

.newIn__tilte .newIn__rating i{
    color: #ec7532;
    margin-bottom: 100px;
}

.newIn__tilte p{
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.newIn .col-12 h2{
    color: #ec7532;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #d8d8d8;
}

.newIn .col-12 h2::after{
    content: "";
    right: auto;
    margin-top: 20px;
    display: block;
    width: 125px;
    height: 4px;
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
}

.slick-slider .slick-arrow{
    font-size: 40px;
    position: absolute;
    top: 40%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    /* ; */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.slick-slider .slick-arrow.left {
    left: -65px;
}
  
.slick-slider .slick-arrow.right {
    right: -65px;
}
  
.newIn__img{
    border-radius: 15px;
}

.responsive .col-6:focus{
    outline: none;
    box-shadow: none;
}

/* ShowTime Responsive luôn nằm phía dưới cùng để dễ đè code */
@media screen and (max-width: 576px){
    .showtime__img{
        width: 100%;
    }
}

/* Show time */
.tab-content{
    margin-top: 30px;
    margin-bottom: 100px;
}

.col-2,.col-10{
    height: 100%;
    padding-top: 3%;
}

.showTimes ul li a{
    font-size: 18px;
    position: relative;
    display: block;
    padding: 10px 30px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4a4a4a;
    transition: all .5s;
}

.showTimes ul li a{
    outline: none;
    box-shadow: none;
}

.showTimes #myTab .nav-item::after{
    content: "";
    width: 0;
    height: 3px;
    display: block;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 0.2s;
    transform: translateX(0);
}

.nav-tabs .nav-link{
    border: none;
}

.showTimes #myTab .nav-item1::after{
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    background: linear-gradient(to right,#fbbd61,#da633a);
}

.showTimes #myTab .nav-item:hover::after{
    width: 100%;
}   

.showTimes #myTab .nav-item a:focus{
    color: #da633a;
}

.showTimes #myTab .nav-item:focus::after{
    content: "";
    color: #da633a;
    height: 3px;
    width: 100%;
    display: block;
}

#myTabContent{
    padding-top: 20px;
}

#myTabContent .row img{
    border-radius: 10px;
}

#myTabContent .row .tab-contentTitle{
    color: #ec7532;
}

#myTabContent .row h3, #myTabContent .row p{
    color: #4a4a4a;
}

#myTabContent .row a{
    text-decoration: none;
    color: #ec7532;
    letter-spacing: 3px;
    margin-bottom: 30px;
    transition: all .5s;
}

#myTabContent .row a:hover{
    color: #4a4a4a;
}

#myTabContent .tab-contentTime{
    margin-top: 20px;
}

#myTabContent .tab-contentTime button{
    margin: 0 5px;
}

#myTabContent .tab-contentTime span{
    margin-right: 20px;
    letter-spacing: 2px;
}

#myTabContent .row{
    margin-bottom: 20px;
}

#myTabContent hr{
    margin-bottom: 36px;
}

.tab-contentTime .tab-contentAge{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-top: 8px;
}

/* Coming soon */
.comingSoon__bgimg{
    background-image: url(../img/slide-3.png);
    background-size: cover;
    height: 600px;
}

.comingSoon__content{
    background-color: black;
}

.comingSoon__content .container{
    color: white;
}

.container h2{
    border-bottom: 1px solid gray;
    padding-top: 45px;
    font-size: 35px;
}

.comingSoon .container h2::after{
    content: "";
    width: 210px;
    height: 4px;
    display: block;
    margin-top: 20px;
    background: linear-gradient(to right, #fbbd61, #da633a);
}

.comingSoon .comingSoon__data{
    margin-top: 50px;
}

.comingSoon .comingSoon__item{
    color: #da633a;
    letter-spacing: 2px;
    margin-top: 50px;
}

.comingSoon .comingSoon__data h3{
    font-size: 34px;
}

.comingSoon .comingSoon__data span i{
    color: #da633a;
    margin: 0px 1px;
}

.comingSoon .comingSoon__data span .fa-calendar-alt{
    margin: 0px 10px;
    color: white;
}

.comingSoon .comingSoon__data .comingSoon__item1{
    margin-top: 25px;
}

.comingSoon .comingSoon__data a{
    text-decoration: none;
    color: #da633a;
    letter-spacing: 3px;
    transition: all .5s;
}

.comingSoon .comingSoon__data a i{
    margin-left: 10px;
}
 
.comingSoon .comingSoon__data a:hover{
    color: #fbbd61;
}

.bgColor{
    background-color: black;
}

.movieList .row .slider-nav .movieList__detail{
    margin-top: 20px;
}

.movieList .slider-nav .col-2 p{
    font-weight: bolder;
}

.movieList .slider-nav .col-2 {
    opacity: .45;
    transition: all .5s;
}

.movieList .slider-nav .col-2:hover{
    opacity: 1;
    cursor: pointer;
}

.movieList .slider-nav .col-2:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

/* Contact */
.contact .contact__infor{
    margin: 80px 0;
}

.contact__infor h2{
    color: #4a4a4a;
}

.contact__infor p{
    color: #da633a;
    font-size: 40px;
}

/* Footer */
.footer__content{
    padding-top: 70px;
    padding-bottom: 10px;
    width: 100%;
    background-color: black;
}

.footer__content .footer__item h3{
    font-size: 20px;
    color: #da633a;
    margin-bottom: 20px;
}

.footer__content .footer__item ul{
    list-style: none;
}

.footer__content .footer__item ul li a{
    text-decoration: none;
    color: white;
    transition: all .5s;
}

.footer__item ul li{
    color: white;
}

.footer__item ul li i{
    margin-right: 20px;
}

.footer__content .footer__item ul li a:hover{
    color: #fbbd61;
}

.footer__item ul li a:focus i{
    color: #fbbd61;
}

.footer .footer__source{
    color: white;
}